.pokemon_searchBar {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    text-align: center;
    width: 65%;
    margin: 6px auto 0 auto;
}

.pokemon_searchBar input { 
    padding: 10px 15px;
    border: none;
    background:  #dedede;
    transition: background 0.3s;
}

.pokemon_searchBar input::placeholder {
    transform: translateY(0%);
    transition: all 0.5s;
}

.pokemon_searchBar input:hover::placeholder { 
    transform: translate(-20%, 0);
    transition: all 0.5s;
}

.pokemon_searchBar input:focus::placeholder { 
    transform: translate(-20%, -150%);
    transition: all 0.5s;
}

.pokemon_searchBar input:focus { 
    padding: 10px 15px;
    border: 0px solid transparent;
    background:  #fefefe
}
