.pokemon-card {
    background: #e3e3e3;
    min-width: 25%;
    margin: 20px 20px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 42px;
    padding: 25px 20px;
    border-radius: 10px;
}

.pokemon-card__img {
    max-height: 80px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.pokemon-card__idNumber {
    display: block;
    position: relative;
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: -20px;
}

.pokemon-card__idNumber::before {
    content: '💠';
    position: absolute;
    left: 10px;
    right: 100px;
    top: 2.5px;
    font-size: 0.75em;
    animation: rotate 5s linear infinite;
    transform: rotate(0deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pokemon-card__name {
    margin: -50px;
}

.pokemon-card__type_container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-card__type {
    position: relative;
    font-size: 0.5em;
    color: white;
    padding: 5px 10px;
    text-shadow: 4px 4px 4px #222;
    border-radius: 5px;
    box-shadow: -5px -5px 2px -2px #444;
    margin-bottom: 0px;
}

.pokemon-card__type:nth-child(1) {
    margin-right: 10px;
}

.pokemon-card__stats {
    font-size: 0.75em;
    margin-top: 15px;
    margin: -5px 20px;
}

.hidden {
    display: none;
    margin: 0px;
    padding: 0px;
}

button {
    position: relative;
    top: -30px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
}